.App {
  text-align: center;
  background-color: #33b5e5;
  font-family: Arial, Helvetica, sans-serif
}

.App-header {
  background-color: orange;
  height: 120px;
  padding: 20px;
  color: #222;
}

h1{
  font-family: 'Butterfly Kids', cursive;
  font-size: 46px;
}

.App-intro {
  font-size: large;
  
}
.site-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
